@import "../../scss/library";

/***** TYPOGRAPHY *****/

.intro-headline {
  @include headline;
}

/***** IMGS *****/

.main-img {
  width: 100%;
  height: 140vh;
  object-fit: cover;

  &-intro {
    @extend .main-img;
    object-position: 50% 100%;
  }
  &-about {
    @extend .main-img;
    height: 100vh;
    object-position: 50% 150%;
  }
}

.intro-secondary-img {
  width: 100%;
  display: block;
}

/***** BUTTON *****/

.intro-button-accent {
  @include button($white-color, $black-color, $black-color);

  &:hover {
    @include button($black-color, $white-color, $black-color);
  }
}

/***** LAYOUT *****/

.landing-page {
  @include page-container-layout;
}

.split-section {
  @include flex(space-between);
  padding-bottom: 1em;
  // height: 140vh;
}

.split-main-div {
  order: 2;
  width: 50%;
}

.split-secondary-div {
  @include flex(normal, column);
  width: 50%;
  order: 1;
  padding: 6em 2em;
}

.intro-div {
  @include intro-section-center;

  &-header {
    @extend .intro-div;
    order: 1;
  }
  &-button {
    @extend .intro-div;
    order: 2;
    margin: 3em auto 3.5em;
  }
  &-img {
    @extend .intro-div;
    order: 3;
  }
}

.theme-horizontal-bar {
  display: none;
  border: none;
}

/***** MEDIA QUERIES *****/

// over 900px in height
@media (min-height: 900px) {
  .main-img-intro {
    height: 95vh;
  }

  .main-img-about {
    height: 85vh;
    object-position: 50% 75%;
  }

  .split-section {
    // height: 100vh;
  }

  .split-secondary-div {
    padding-top: 10em;
  }
}

// under 900px in width
@media (max-width: $layout-breakpoint-medium) {
  .split-section {
    display: block;
    height: initial;
  }

  .split-main-div {
    width: 100%;
    order: 1;
  }

  .main-img-intro,
  .main-img-about {
    height: 70vh;
  }

  .intro-headline {
    text-align: center;
  }

  .split-secondary-div {
    width: 100%;
    order: 2;
    padding: 2em;
  }

  .intro-div {
    &-header {
      padding-top: 0em;
      order: 1;
    }
    &-button {
      text-align: center;
      order: 3;
      margin: 0;
      align-self: center;
    }
    &-img {
      order: 2;
      margin: 3em auto 3.5em;
    }
  }

  .theme-horizontal-bar {
    display: block;
    color: $primary-color;

    background-color: $primary-color;
  }
}

// under 900px in width and under 825px in height
@media (max-height: 850px) and (max-width: $layout-breakpoint-medium) {
  .main-img-intro {
    height: 65vh;
    object-position: 50% 75%;
  }

  .main-img-about {
    height: 60vh;
    object-position: 50% 50%;
  }
}

// under 600px in width
@media (max-width: $layout-breakpoint-small) {
  .landing-page {
    padding-top: 3.1em;
  }
}

//under 450px in width
@media (max-width: $layout-breakpoint-phone) {
  .intro-headline {
    font-size: 2rem;
  }

  .intro-div {
    @include intro-section-center(phone);

    &-img {
      margin: 3em auto 3.5em;
    }
  }

  .split-secondary-div {
    padding: 2rem 1rem;
  }
}
