@import "../../scss/library";

/***** TYPOGRAPHY *****/

.cart-headline {
  @include headline;
  text-align: center;
  margin-bottom: 1em;
}

.cart-item {
  &-title {
    font-size: 1rem;
    color: $black-color;
    margin: 1rem 0;
    margin-left: 1rem;
  }

  &-subtotal {
    font-size: 1.25rem;
    color: $black-color;
    margin: 1rem;
  }
  &-info {
    font-size: 0.9rem;
    color: $gray-color;
    margin: 0;
    margin-left: 1rem;
  }
}

/***** IMGS *****/

.cart-item-image-container {
  font-size: 0;
}

/***** BUTTON/INPUT *****/

.cart-item-quantity-input {
  padding: 0.75em 1em;
  width: 4rem;
  outline: none;
  height: 2.5rem;
  border: 1px solid $gray-color;
  margin-top: 1rem;
}

.cart-item-remove {
  border: none;
  background: $white-color;
  margin-top: 1rem;
  outline: none;
  cursor: pointer;
  flex-grow: 0;
  flex-shrink: 0;
}

.order-summary-checkout {
  @include button($white-color, $accent-color, $accent-color);
  width: 100%;
}

/***** LAYOUT *****/
.cart-page {
  @include page-container-layout;
  padding: 8em 3em;
}

.cart-page-container-section {
  @include flex(space-between, row);
  max-width: 55rem;
  margin: 0 auto;
}

.section {
  &-cart {
    width: 60%;
  }

  &-cart-empty {
    width: 100%;
  }

  &-order {
    width: 35%;
  }
}

.empty-cart {
  &-container {
    text-align: center;
    padding: 13em 0;
  }

  &-text {
    font-size: 1.75rem;
    margin-bottom: 0.5em;
  }

  &-link {
    @include link;
    text-decoration: underline;
    font-weight: 700;

    &:hover {
      color: $gray-color;
    }
  }
}

.cart-item {
  &-container {
    @include flex(space-between);
    padding: 1rem 0.5rem;
    align-items: flex-start;
  }

  &-main-section {
    @include flex(space-between);
    width: 95%;
  }

  &-image {
    height: 8rem;
  }

  &-flex-row,
  &-quantity-price {
    @include flex(space-between, row);
    align-items: flex-start;
  }

  &-description {
    @include flex(normal, column);
    max-width: 9rem;
  }
}

.order-summary {
  &-container {
    padding: 2rem 0;
  }

  &-subtotal {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &-flex-row {
    @include flex(space-between, row);
  }
}
/***** MISC *****/

.hr-gray {
  color: $gray-color;
}

/***** MEDIA QUERIES *****/

// under 900px in width
@media (max-width: $layout-breakpoint-medium) {
  .section {
    &-cart {
      width: 65%;
    }

    &-order {
      width: 30%;
    }
  }

  .cart-item {
    &-quantity-price {
      @include flex(normal, column);
      align-items: center;
    }

    &-quantity-input {
      margin: 1rem;
    }

    &-subtotal {
      text-align: center;
      margin: 1rem;
    }
  }
}

// under 700px in width
@media (max-width: 700px) {
  .cart-page {
    @include page-container-layout;
    padding: 8em 2em;
  }

  .section {
    &-cart {
      width: 100%;
    }

    &-order {
      width: 100%;
    }
  }

  .cart-page-container-section {
    @include flex(normal, column);
    max-width: 55rem;
    margin: 0 auto;
  }
}

// under 450px in width
@media (max-width: $layout-breakpoint-phone) {
  .cart-page {
    padding: 6em 1.5em 2em;
  }

  .cart-item {
    &-quantity-price {
      @include flex(space-between, row);
      align-items: center;
      justify-content: flex-end;
    }

    &-flex-row {
      @include flex(space-between, row);
      align-items: flex-start;
    }

    &-main-section {
      @include flex(normal, column);
    }

    &-title,
    &-info {
      text-align: right;
      padding-right: 1rem;
    }
  }
}
