@import "../../scss/library";

/***** TYPOGRAPHY *****/
.header-title {
  letter-spacing: 0.1px;
  font-size: 2.5rem;
}

.nav-item {
  margin-left: 1.5rem;
  font-size: 1.25rem;
  text-decoration: none;
  color: $black-color;
  font-weight: 700;
  &:hover {
    color: $gray-color;
  }
}

/***** LAYOUT *****/
.header {
  @include flex(space-between);
  padding: $layout-padding;
  width: 100%;
  align-items: baseline;
  position: fixed;
  padding-bottom: 1rem;
  background: $primary-color;
}

.nav-bar {
  @include flex(space-between);
}

.current-page {
  color: $gray-color;
}

.nav-icon {
  color: $black-color;
  display: none;
  font-size: 1.5rem;
}

/***** MEDIA QUERIES *****/

// under 900px in width
@media (max-width: $layout-breakpoint-medium) {
  .nav-bar {
    display: none;
  }

  .nav-icon {
    display: block;
  }
}

// under 600px in width
@media (max-width: $layout-breakpoint-small) {
  .header {
    padding: 1rem 2rem;
  }

  .header-title {
    font-size: 2rem;
  }

  .nav-icon {
    font-size: 1.25rem;
  }
}

// under 450px in width
@media (max-width: $layout-breakpoint-phone) {
  .header-title {
    font-size: 1.75rem;
  }

  .header {
    padding: 1rem 1rem;
  }
}
