/***** THEME COLORS *****/

$primary-color: #a1b7ba;
$accent-color: #476a6f;
$white-color: #ffffff;
$gray-color: #7a7a7a;
$black-color: #141414;

/***** FONTS *****/

$main-font: "Source Sans Pro", sans-serif;

/***** LAYOUT *****/

$layout-padding: 1rem 4rem 0;

/***** MIXINS *****/

@mixin flex($spacing, $direction: row) {
  display: flex;
  flex-direction: $direction;
  @if $direction == row {
    justify-content: $spacing;
  } @else {
    justify-content: $spacing;
  }
}

@mixin page-container-layout {
  background: $white-color;
  min-height: 100%;
  padding-top: 4.1em;
}

@mixin button($text-color, $background, $border) {
  color: $text-color;
  background: $background;
  border: $border solid 5px;
  padding: 0.75em 1.5em;
  font-weight: 900;
  font-size: 1rem;
  letter-spacing: 1px;
  cursor: pointer;
}

@mixin link {
  text-decoration: none;
  color: $black-color;
  cursor: pointer;
}

@mixin intro-section-center {
  width: 24em;
  margin: 0 auto;
}

/***** TYPES *****/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $main-font;
}

h1 {
  margin: 0;
}

/***** MEDIA QUERIES *****/

$layout-breakpoint-xlarge: 1500px;
$layout-breakpoint-large: 1100px;
$layout-breakpoint-medium: 900px;
$layout-breakpoint-small: 600px;
$layout-breakpoint-phone: 300px;
